apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: flower-addon-gpu-placement
  namespace: open-cluster-management
spec:
  predicates:
    - requiredClusterSelector:
        labelSelector:
          matchLabels:
            gpu: "true"
