apiVersion: v1
kind: ServiceAccount
metadata:
  name: flower-supernode
  namespace: {{ .FlowerAddonNamespace | default "flower-addon" }}
  labels:
    app.kubernetes.io/name: flower-addon
    app.kubernetes.io/component: supernode
