apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: flower-addon-placement
  namespace: open-cluster-management
spec:
  predicates:
    - requiredClusterSelector:
        labelSelector:
          matchExpressions:
            - key: local-cluster
              operator: DoesNotExist
