apiVersion: v1
kind: Service
metadata:
  name: superlink
  namespace: flower
  labels:
    app.kubernetes.io/name: superlink
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: superlink
  ports:
    - name: appio
      port: 9091
      targetPort: 9091
      protocol: TCP
    - name: fleet
      port: 9092
      targetPort: 9092
      protocol: TCP
    - name: control
      port: 9093
      targetPort: 9093
      protocol: TCP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: superlink-state
  namespace: flower
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
